.name {
  background-color: #262626;
  color: white;
  padding: 16px;
  width: 78vw;
  font-size: 16px;
  float: left;
  border: 3px solid white;
}

.button1 {
  background-color: #52527a;
  color: black;
  padding: 16px;
  width: 18vw;
  font-size: 16px;
  border: 3px solid white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #1f1f2e;
  min-width: 900px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  font-family: sans-serif;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition-duration: 0.4s;
}

body {
  background-image: linear-gradient(#3366cc, #33ffbb);
  height: 100vh;
}

.download {
  color: white;
  font-size: 32px;
  background-color: black;
  border: solid white 4px;
  display: block;
  width: 400px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.download:hover {
  color: black;
  background-color: white;
  border: solid black 4px;
}

.info {
  background-color: white;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.title {
  background-color: white;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.back {
  background-color: white;
  color: black;
  padding: 16px;
  width: 64px;
  font-size: 16px;
  border: 3px solid white;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.bigbutton {
  background-color: red;
  color: white;
  padding: 16px;
  width: 180px;
  height: 160px;
  font-size: 32px;
  border: 3px solid white;
  font-family: cursive;
}

.answer {
  background-color: white;
  font-family: sans-serif;
  font-size: 20px;
  padding: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 30vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.Big-Background{
  background-color: #0d0d0d;
  text-align: center;
  padding: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
