h1 {
  color: goldenrod;
  font-family: cursive;
  font-size: 64px;
  text-align: center
}

.button {
  float: left;
  border: 1px solid goldenrod;
  font-size: 18px;
  padding: 25px 12px;
  background-color: goldenrod;
}
.button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
